.phraseContainer{
    display: flex;
    flex-direction: column;
}

.PhraseUl{
    width: fit-content;
    border: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 5px 0;
    padding: 16px;
    list-style: none;
}

.phrases{
    font-weight: 600;
}

@media screen and (max-width: 300px){
    .phrases{
        font-size: 13px;
    }
}